<!-- Footer -->
        <footer id="footer">
            <div class="footer container">
                <div class="logo">
                    <!-- Footer Content -->
                    <h1>Thanks for visiting my website</h1>
                    <p>You can reach me at chinmayashivalingappa.ramani@ontariotechu.net</p>
                    <!-- Social Media Links -->
                    <div class="social-links">
                        <a href="https://github.com/chinmayaramani" target="_blank" class="social-link">GitHub</a>
                        <a href="https://www.linkedin.com/in/chinmaya-ramani-b89308254" target="_blank" class="social-link">LinkedIn</a>
                    </div>
                    <!-- Copyright Notice -->
                    <p>&copy; 2023 Chinmaya. All rights reserved</p>
                </div>
            </div>
        </footer>
        <!-- End Footer -->